.plugin #providers{
    float: unset !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: table !important;
}

.plugin .footer #branding a{
    display: none !important;
    visibility: hidden !important;
    font-size: 0 !important;
}

.oneall_social_login_label{
    text-align: center;
}

.oneall_social_login{
    margin-top: 30px;
}